[global]
# bot section to use
default_engine = bot_simple

[bot_simple]

communication_method = stdio

cmdline = ./simple_engine.py

# options in a bot section starting with bot_ will be sent to the engine during
# initialization, options starting with post_pos_ will be sent after the
# position has been set up

