[global]
# number of rounds to run
rounds = 100

# verbosity of the output default is WARN
# options are DEBUG, INFO, WARN, ERROR
loglevel = WARN

# Write a Bayeselo compatible pgn file
write_pgn = False

# Filename to use for pgn file
pgn_filename = result.pgn

# timecontrol to use or None
timecontrol = 3s/30s/100/60s/10m

# don't check legality of setup moves, useful for handicap games
# strict_setup = False

# bots to use for tournament
bots = random opfor

# options to send to all bots
bot_hash = 50

[Random]
# command line
cmdline = python simple_engine.py

[OpFor]
# command line
cmdline = ../opfor/bot_opfor

# option to send to just this bot
bot_depth = 6

